In [61]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('incident_event_log.csv')

### who are we presenting too:
ServiceNow IT department


## Target
*create target column: numbers of days ticket is open???
*what could this tell us, or how could we explain this as usefull: if we can succesfully predict whether an incident will be resolved in sufficent time given info porovided about the incident. then we could advise...???
*who wants this



## TO DO List
# Day 1 goal: 
    #complete *create repository and seperate branches  link: https://github.com/Sug-ar-N-Spice/Incident_Events.git
    *find the NANS and figure out how to fill
    #complete *turn all ? into NANs
    #complete*find documentation/info of columns   link: https://archive.ics.uci.edu/dataset/498/incident+management+process+enriched+event+log
    
#semi-complete*create target column: complete for tickets open over 2 days
* decide if the target column is relavant enough for conclusion

*decide if there are any columns we can get drop ..ex.'number'
*also decide what columns would cuase dataleaks to give the model all the answers renderring our model useless..ex. time/date, days open, other columns?

* list out the models that we will attempt to use find code examples/syntax ready
    *Parameter loops


* do we need fucntions? because this is our only dataset, we don't have another one to test?
#complete* list all columns with NaN values and then figure out how to fill them
* DO we need a standard scaler
* DO we need PCA to reduce the columns
* Do we need resampler
* clustering? dont we need it for certain models? #original task is regresion and clustering should we do this to understand data


## New To list:
  Figure out how to filter to find all duplicate incedents for same value in 'number' and only retain 1 incedence set to 'incident_status == 'new'

In [ ]:
#we need to find all incident numbers that are not duplicates?

In [113]:
# Filter the DataFrame where "incident_state" is equal to "new" and "active" is equal to 0
filtered_df = df[(df["incident_state"] == "new") & (df["active"] == 'False')]

filtered_df

Empty DataFrame
Columns: [number, incident_state, active, reassignment_count, reopen_count, sys_mod_count, made_sla, caller_id, opened_by, opened_at, sys_created_by, sys_created_at, sys_updated_by, sys_updated_at, contact_type, location, category, subcategory, u_symptom, cmdb_ci, impact, urgency, priority, assignment_group, assigned_to, knowledge, u_priority_confirmation, notify, problem_id, rfc, vendor, caused_by, closed_code, resolved_by, resolved_at, closed_at, target_colum, difference]
Index: []

In [111]:
df.value_counts('incident_state')

incident_state
Active                38716
New                   36407
Resolved              25751
Closed                24985
Awaiting User Info    14642
Awaiting Vendor         707
Awaiting Problem        461
Awaiting Evidence        38
-100                      5
Name: count, dtype: int64

In [103]:
df.value_counts('active')

active
True     116726
False     24986
Name: count, dtype: int64

In [122]:
df_inc0019396.value_counts('resolved_at')

resolved_at
2016-05-12 23:51:00    58
Name: count, dtype: int64

In [125]:
df_inc0019396 = df[df['number'] == 'INC0019396']
df_inc0019396.tail()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,sys_updated_by,sys_updated_at,contact_type,location,category,subcategory,u_symptom,cmdb_ci,impact,urgency,priority,assignment_group,assigned_to,knowledge,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at,target_colum,difference
81471,INC0019396,Resolved,True,10,7,63,True,Caller 1580,Opened by 305,2016-04-14 20:42:00,NaN,NaN,Updated by 429,12/5/2016 14:46,Phone,Location 143,Category 53,Subcategory 114,NaN,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 115,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 158,2016-05-12 23:51:00,18/5/2016 00:07,1,28.0
81472,INC0019396,Active,True,10,8,64,True,Caller 1580,Opened by 305,2016-04-14 20:42:00,NaN,NaN,Updated by 278,12/5/2016 16:30,Phone,Location 143,Category 53,Subcategory 114,NaN,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 115,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 158,2016-05-12 23:51:00,18/5/2016 00:07,1,28.0
81473,INC0019396,Active,True,10,8,66,True,Caller 1580,Opened by 305,2016-04-14 20:42:00,NaN,NaN,Updated by 278,12/5/2016 16:30,Phone,Location 143,Category 53,Subcategory 114,NaN,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 115,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 158,2016-05-12 23:51:00,18/5/2016 00:07,1,28.0
81474,INC0019396,Resolved,True,10,8,67,True,Caller 1580,Opened by 305,2016-04-14 20:42:00,NaN,NaN,Updated by 111,12/5/2016 23:51,Phone,Location 143,Category 53,Subcategory 114,NaN,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 26,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 158,2016-05-12 23:51:00,18/5/2016 00:07,1,28.0
81475,INC0019396,Closed,False,10,8,68,False,Caller 1580,Opened by 305,2016-04-14 20:42:00,NaN,NaN,Updated by 908,18/5/2016 00:07,Phone,Location 143,Category 53,Subcategory 114,NaN,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 26,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 158,2016-05-12 23:51:00,18/5/2016 00:07,1,28.0

In [123]:
df.value_counts('number').count()

24918

In [102]:
display(df.head())
display(df.tail())

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,sys_updated_by,sys_updated_at,contact_type,location,category,subcategory,u_symptom,cmdb_ci,impact,urgency,priority,assignment_group,assigned_to,knowledge,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at,target_colum,difference
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 21,29/2/2016 01:23,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
1,INC0000045,Resolved,True,0,0,2,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 642,29/2/2016 08:53,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
2,INC0000045,Resolved,True,0,0,3,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 804,29/2/2016 11:29,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 908,5/3/2016 12:00,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,2016-02-29 04:40:00,Created by 171,29/2/2016 04:57,Updated by 746,29/2/2016 04:57,Phone,Location 165,Category 40,Subcategory 215,Symptom 471,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 89,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 81,2016-03-01 09:52:00,6/3/2016 10:00,0,1.0

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,sys_updated_by,sys_updated_at,contact_type,location,category,subcategory,u_symptom,cmdb_ci,impact,urgency,priority,assignment_group,assigned_to,knowledge,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at,target_colum,difference
141707,INC0120835,Closed,False,1,0,4,True,Caller 116,Opened by 12,2017-02-16 09:09:00,NaN,NaN,Updated by 27,16/2/2017 09:53,Email,Location 204,Category 42,Subcategory 223,Symptom 494,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 31,Resolver 10,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 9,Resolved by 9,2017-02-16 09:53:00,16/2/2017 09:53,0,0.0
141708,INC0121064,Active,True,0,0,0,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,Updated by 908,16/2/2017 14:17,Email,Location 204,Category 42,Subcategory 223,Symptom 494,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 10,False,False,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,2017-02-16 16:38:00,16/2/2017 16:38,0,0.0
141709,INC0121064,Active,True,1,0,1,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,Updated by 60,16/2/2017 15:20,Email,Location 204,Category 42,Subcategory 223,Symptom 494,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 31,NaN,False,False,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,2017-02-16 16:38:00,16/2/2017 16:38,0,0.0
141710,INC0121064,Resolved,True,1,0,2,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,Updated by 27,16/2/2017 16:38,Email,Location 204,Category 42,Subcategory 223,Symptom 494,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 31,Resolver 10,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,2017-02-16 16:38:00,16/2/2017 16:38,0,0.0
141711,INC0121064,Closed,False,1,0,3,True,Caller 116,Opened by 12,2017-02-16 14:17:00,NaN,NaN,Updated by 27,16/2/2017 16:38,Email,Location 204,Category 42,Subcategory 223,Symptom 494,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 31,Resolver 10,False,True,Do Not Notify,NaN,NaN,NaN,NaN,code 6,Resolved by 9,2017-02-16 16:38:00,16/2/2017 16:38,0,0.0

In [101]:
df.value_counts('active')

active
True     116726
False     24986
Name: count, dtype: int64

In [100]:
df.value_counts('incident_state')

incident_state
Active                38716
New                   36407
Resolved              25751
Closed                24985
Awaiting User Info    14642
Awaiting Vendor         707
Awaiting Problem        461
Awaiting Evidence        38
-100                      5
Name: count, dtype: int64

In [97]:
df.value_counts('opened_by')

opened_by
Opened by  17     41466
Opened by  24      8063
Opened by  131     7269
Opened by  108     6121
Opened by  55      5655
                  ...
Opened by  447        3
Opened by  80         3
Opened by  440        3
Opened by  486        3
Opened by  144        3
Name: count, Length: 207, dtype: int64

In [4]:
df.columns

Index(['number', 'incident_state', 'active', 'reassignment_count',
       'reopen_count', 'sys_mod_count', 'made_sla', 'caller_id', 'opened_by',
       'opened_at', 'sys_created_by', 'sys_created_at', 'sys_updated_by',
       'sys_updated_at', 'contact_type', 'location', 'category', 'subcategory',
       'u_symptom', 'cmdb_ci', 'impact', 'urgency', 'priority',
       'assignment_group', 'assigned_to', 'knowledge',
       'u_priority_confirmation', 'notify', 'problem_id', 'rfc', 'vendor',
       'caused_by', 'closed_code', 'resolved_by', 'resolved_at', 'closed_at'],
      dtype='object')

In [11]:
df.value_counts('impact')

impact
2 - Medium    134335
3 - Low         3886
1 - High        3491
Name: count, dtype: int64

In [5]:
df.value_counts('incident_state')

incident_state
Active                38716
New                   36407
Resolved              25751
Closed                24985
Awaiting User Info    14642
Awaiting Vendor         707
Awaiting Problem        461
Awaiting Evidence        38
-100                      5
Name: count, dtype: int64

In [7]:
df.value_counts('active')

active
True     116726
False     24986
Name: count, dtype: int64

In [10]:
df.value_counts('reopen_count')

reopen_count
0    139398
1      1918
2       190
3       107
4        48
5        24
6        18
7         5
8         4
Name: count, dtype: int64

In [6]:
df.value_counts('incident_state', 'active')

incident_state
Active                0.273202
New                   0.256908
Resolved              0.181714
Closed                0.176308
Awaiting User Info    0.103322
Awaiting Vendor       0.004989
Awaiting Problem      0.003253
Awaiting Evidence     0.000268
-100                  0.000035
Name: proportion, dtype: float64

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141712 entries, 0 to 141711
Data columns (total 36 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   number                   141712 non-null  object
 1   incident_state           141712 non-null  object
 2   active                   141712 non-null  bool
 3   reassignment_count       141712 non-null  int64
 4   reopen_count             141712 non-null  int64
 5   sys_mod_count            141712 non-null  int64
 6   made_sla                 141712 non-null  bool
 7   caller_id                141712 non-null  object
 8   opened_by                141712 non-null  object
 9   opened_at                141712 non-null  object
 10  sys_created_by           141712 non-null  object
 11  sys_created_at           141712 non-null  object
 12  sys_updated_by           141712 non-null  object
 13  sys_updated_at           141712 non-null  object
 14  contact_type             141712 non-null  object
 15  location                 141712 non-null  object
 16  category                 141712 non-null  object
 17  subcategory              141712 non-null  object
 18  u_symptom                141712 non-null  object
 19  cmdb_ci                  141712 non-null  object
 20  impact                   141712 non-null  object
 21  urgency                  141712 non-null  object
 22  priority                 141712 non-null  object
 23  assignment_group         141712 non-null  object
 24  assigned_to              141712 non-null  object
 25  knowledge                141712 non-null  bool
 26  u_priority_confirmation  141712 non-null  bool
 27  notify                   141712 non-null  object
 28  problem_id               141712 non-null  object
 29  rfc                      141712 non-null  object
 30  vendor                   141712 non-null  object
 31  caused_by                141712 non-null  object
 32  closed_code              141712 non-null  object
 33  resolved_by              141712 non-null  object
 34  resolved_at              141712 non-null  object
 35  closed_at                141712 non-null  object
dtypes: bool(4), int64(3), object(29)
memory usage: 35.1+ MB

In [15]:
display(df.value_counts('problem_id'))
display(df.value_counts('rfc'))
display(df.value_counts('vendor'))
display(df.value_counts('caused_by'))

problem_id
?                  139417
Problem ID  14        184
Problem ID  2         147
Problem ID  52         82
Problem ID  239        48
                    ...
Problem ID  181         1
Problem ID  88          1
Problem ID  11          1
Problem ID  195         1
Problem ID  33          1
Name: count, Length: 253, dtype: int64

rfc
?             140721
CHG0000132        20
CHG0001230        20
CHG0000047        18
CHG0001656        17
               ...
CHG0000207         2
CHG0001829         1
CHG0000530         1
CHG0001437         1
CHG0001720         1
Name: count, Length: 182, dtype: int64

vendor
?           141468
code 8s        167
Vendor 1        69
Vendor 3         6
Vendor 2         2
Name: count, dtype: int64

caused_by
?             141689
CHG0000097        11
CHG0000132         7
CHG0001327         5
Name: count, dtype: int64

In [20]:

display(df['opened_at'].dtypes)
display(df['resolved_at'].dtypes)

dtype('O')

dtype('O')

In [44]:
display(df.value_counts('opened_at'))
display(df.value_counts('resolved_at'))

opened_at
2016-04-14 20:42:00    58
2016-07-04 14:38:00    56
2016-03-07 11:58:00    52
2016-03-07 09:11:00    52
2016-03-09 16:03:00    51
                       ..
2016-03-28 12:25:00     2
2016-05-18 09:10:00     2
2016-03-28 14:16:00     2
2016-03-28 14:18:00     2
2016-04-13 10:58:00     2
Name: count, Length: 19849, dtype: int64

resolved_at
2016-06-03 16:29:00    93
2016-06-03 16:28:00    85
2016-06-03 16:27:00    83
2016-06-03 16:31:00    59
2016-05-12 23:51:00    58
                       ..
2016-05-05 16:05:00     2
2016-04-27 16:24:00     2
2016-04-19 17:20:00     2
2016-03-16 17:36:00     2
2016-04-21 05:14:00     2
Name: count, Length: 18505, dtype: int64

In [99]:
df['resolved_at'].isnull().value_counts()

resolved_at
False    138571
True       3141
Name: count, dtype: int64

In [46]:
df['resolved_at'].value_counts()

resolved_at
2016-06-03 16:29:00    93
2016-06-03 16:28:00    85
2016-06-03 16:27:00    83
2016-06-03 16:31:00    59
2016-05-12 23:51:00    58
                       ..
2016-04-04 08:34:00     2
2016-03-18 15:21:00     2
2016-03-18 15:38:00     2
2016-03-30 02:01:00     2
2016-03-17 10:21:00     2
Name: count, Length: 18505, dtype: int64

In [81]:
#change all ? marks to NAN values so we can manipulate them easier
df_nan = df.copy()
df_nan = df.replace('?',np.nan)

In [67]:
df_nan.head()

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,sys_updated_by,sys_updated_at,contact_type,location,category,subcategory,u_symptom,cmdb_ci,impact,urgency,priority,assignment_group,assigned_to,knowledge,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at,target_colum,difference
0,INC0000045,New,True,0,0,0,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 21,29/2/2016 01:23,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
1,INC0000045,Resolved,True,0,0,2,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 642,29/2/2016 08:53,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
2,INC0000045,Resolved,True,0,0,3,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 804,29/2/2016 11:29,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
3,INC0000045,Closed,False,0,0,4,True,Caller 2403,Opened by 8,2016-02-29 01:16:00,Created by 6,29/2/2016 01:23,Updated by 908,5/3/2016 12:00,Phone,Location 143,Category 55,Subcategory 170,Symptom 72,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 56,NaN,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 149,2016-02-29 11:29:00,5/3/2016 12:00,0,0.0
4,INC0000047,New,True,0,0,0,True,Caller 2403,Opened by 397,2016-02-29 04:40:00,Created by 171,29/2/2016 04:57,Updated by 746,29/2/2016 04:57,Phone,Location 165,Category 40,Subcategory 215,Symptom 471,NaN,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 89,True,False,Do Not Notify,NaN,NaN,NaN,NaN,code 5,Resolved by 81,2016-03-01 09:52:00,6/3/2016 10:00,0,1.0

In [68]:
df_nan['opened_at']=pd.to_datetime(df['opened_at'])
df_nan['resolved_at'] = pd.to_datetime(df['resolved_at'])#, errors='coerce', dayfirst = True)

In [69]:
check_dates =df_nan[['opened_at','resolved_at']]
check_dates.head(50)

             opened_at         resolved_at
0  2016-02-29 01:16:00 2016-02-29 11:29:00
1  2016-02-29 01:16:00 2016-02-29 11:29:00
2  2016-02-29 01:16:00 2016-02-29 11:29:00
3  2016-02-29 01:16:00 2016-02-29 11:29:00
4  2016-02-29 04:40:00 2016-03-01 09:52:00
5  2016-02-29 04:40:00 2016-03-01 09:52:00
6  2016-02-29 04:40:00 2016-03-01 09:52:00
7  2016-02-29 04:40:00 2016-03-01 09:52:00
8  2016-02-29 04:40:00 2016-03-01 09:52:00
9  2016-02-29 04:40:00 2016-03-01 09:52:00
10 2016-02-29 04:40:00 2016-03-01 09:52:00
11 2016-02-29 04:40:00 2016-03-01 09:52:00
12 2016-02-29 04:40:00 2016-03-01 09:52:00
13 2016-02-29 06:10:00 2016-03-01 02:55:00
14 2016-02-29 06:10:00 2016-03-01 02:55:00
15 2016-02-29 06:10:00 2016-03-01 02:55:00
16 2016-02-29 06:10:00 2016-03-01 02:55:00
17 2016-02-29 06:10:00 2016-03-01 02:55:00
18 2016-02-29 06:10:00 2016-03-01 02:55:00
19 2016-02-29 06:10:00 2016-03-01 02:55:00
20 2016-02-29 06:38:00 2016-03-02 12:06:00
21 2016-02-29 06:38:00 2016-03-02 12:06:00
22 2016-02-29 06:38:00 2016-03-02 12:06:00
23 2016-02-29 06:38:00 2016-03-02 12:06:00
24 2016-02-29 06:58:00 2016-02-29 15:51:00
25 2016-02-29 06:58:00 2016-02-29 15:51:00
26 2016-02-29 06:58:00 2016-02-29 15:51:00
27 2016-02-29 06:58:00 2016-02-29 15:51:00
28 2016-02-29 06:58:00 2016-02-29 15:51:00
29 2016-02-29 06:58:00 2016-02-29 15:51:00
30 2016-02-29 06:58:00 2016-02-29 15:51:00
31 2016-02-29 06:58:00 2016-02-29 15:51:00
32 2016-02-29 07:08:00 2016-02-29 16:01:00
33 2016-02-29 07:08:00 2016-02-29 16:01:00
34 2016-02-29 07:08:00 2016-02-29 16:01:00
35 2016-02-29 07:08:00 2016-02-29 16:01:00
36 2016-02-29 07:08:00 2016-02-29 16:01:00
37 2016-02-29 07:08:00 2016-02-29 16:01:00
38 2016-02-29 07:08:00 2016-02-29 16:01:00
39 2016-02-29 07:08:00 2016-02-29 16:01:00
40 2016-02-29 07:10:00 2016-03-03 16:00:00
41 2016-02-29 07:10:00 2016-03-03 16:00:00
42 2016-02-29 07:10:00 2016-03-03 16:00:00
43 2016-02-29 07:10:00 2016-03-03 16:00:00
44 2016-02-29 07:10:00 2016-03-03 16:00:00
45 2016-02-29 07:10:00 2016-03-03 16:00:00
46 2016-02-29 07:10:00 2016-03-03 16:00:00
47 2016-02-29 07:10:00 2016-03-03 16:00:00
48 2016-02-29 07:10:00 2016-03-03 16:00:00
49 2016-02-29 07:38:00 2016-03-02 15:21:00

In [ ]:
df_nan['difference'] = (df_nan['resolved_at'] - df_nan['opened_at']).dt.days
print(df_nan[['opened_at', 'resolved_at', 'difference']].head(50))

In [71]:
df_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141712 entries, 0 to 141711
Data columns (total 38 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   number                   141712 non-null  object
 1   incident_state           141712 non-null  object
 2   active                   141712 non-null  bool
 3   reassignment_count       141712 non-null  int64
 4   reopen_count             141712 non-null  int64
 5   sys_mod_count            141712 non-null  int64
 6   made_sla                 141712 non-null  bool
 7   caller_id                141683 non-null  object
 8   opened_by                136877 non-null  object
 9   opened_at                141712 non-null  datetime64[ns]
 10  sys_created_by           88636 non-null   object
 11  sys_created_at           88636 non-null   object
 12  sys_updated_by           141712 non-null  object
 13  sys_updated_at           141712 non-null  object
 14  contact_type             141712 non-null  object
 15  location                 141636 non-null  object
 16  category                 141634 non-null  object
 17  subcategory              141601 non-null  object
 18  u_symptom                108748 non-null  object
 19  cmdb_ci                  445 non-null     object
 20  impact                   141712 non-null  object
 21  urgency                  141712 non-null  object
 22  priority                 141712 non-null  object
 23  assignment_group         127499 non-null  object
 24  assigned_to              114216 non-null  object
 25  knowledge                141712 non-null  bool
 26  u_priority_confirmation  141712 non-null  bool
 27  notify                   141712 non-null  object
 28  problem_id               2295 non-null    object
 29  rfc                      991 non-null     object
 30  vendor                   244 non-null     object
 31  caused_by                23 non-null      object
 32  closed_code              140998 non-null  object
 33  resolved_by              141486 non-null  object
 34  resolved_at              138571 non-null  datetime64[ns]
 35  closed_at                141712 non-null  object
 36  target_colum             141712 non-null  int64
 37  difference               138571 non-null  float64
dtypes: bool(4), datetime64[ns](2), float64(1), int64(4), object(27)
memory usage: 37.3+ MB

In [72]:
df_nan['target_colum'] = df_nan.apply(lambda row: 1 if pd.notna(row['resolved_at']) and (row['resolved_at'] - row['opened_at']).days > 2 else 0, axis = 1)

In [75]:
df_nan['target_colum'].value_counts()

target_colum
0    71621
1    70091
Name: count, dtype: int64

In [77]:
problem_id_nan_stats = df_nan.loc[df_nan['problem_id'].isna()].describe(include = 'all')
pd.set_option('display.max_columns', None)
problem_id_nan_stats

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,sys_updated_by,sys_updated_at,contact_type,location,category,subcategory,u_symptom,cmdb_ci,impact,urgency,priority,assignment_group,assigned_to,knowledge,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at,target_colum,difference
count,139417,139417,139417,139417.000000,139417.000000,139417.000000,139417,139388,134656,139417,86840,86840,139417,139417,139417,139341,139348,139315,107099,439,139417,139417,139417,125326,112181,139417,139417,139417,0,731,235,0,138714,139191,136276,139417,139417.000000,136276.000000
unique,24680,9,2,NaN,NaN,NaN,2,5230,203,NaN,179,11385,844,50184,5,222,58,254,515,47,3,3,4,78,232,2,2,2,0,152,4,0,17,213,NaN,2670,NaN,NaN
top,INC0019396,Active,True,NaN,NaN,NaN,True,Caller 1904,Opened by 17,NaN,Created by 10,4/7/2016 14:50,Updated by 908,24/3/2016 18:40,Phone,Location 204,Category 26,Subcategory 174,Symptom 491,cmdb_ci 31,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 17,False,False,Do Not Notify,NaN,CHG0001656,code 8s,NaN,code 6,Resolved by 15,NaN,24/3/2016 18:59,NaN,NaN
freq,58,38041,114812,NaN,NaN,NaN,130499,1420,41147,NaN,24010,56,35789,420,138219,31114,18266,35556,51367,32,133441,133195,131587,43263,10560,114637,99548,139298,NaN,17,158,NaN,85031,15350,NaN,3324,NaN,NaN
mean,NaN,NaN,NaN,1.106285,0.022221,5.059670,NaN,NaN,NaN,2016-04-12 21:41:51.960808192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-24 03:58:20.001174016,NaN,0.493763,10.858207
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,2016-02-29 01:16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-02-29 09:04:00,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN,NaN,2016-03-16 15:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-25 10:28:00,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,1.000000,0.000000,3.000000,NaN,NaN,NaN,2016-04-07 16:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-15 13:01:00,NaN,0.000000,3.000000
75%,NaN,NaN,NaN,1.000000,0.000000,6.000000,NaN,NaN,NaN,2016-05-04 10:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-12 12:15:00,NaN,1.000000,10.000000
max,NaN,NaN,NaN,27.000000,8.000000,129.000000,NaN,NaN,NaN,2017-02-16 14:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-17 00:47:00,NaN,1.000000,336.000000
std,NaN,NaN,NaN,1.738522,0.208851,7.684358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499963,27.136400

In [84]:
# Find the percentage of null values in each column
df_nan.isna().sum()/len(df_nan)

number                     0.000000
incident_state             0.000000
active                     0.000000
reassignment_count         0.000000
reopen_count               0.000000
sys_mod_count              0.000000
made_sla                   0.000000
caller_id                  0.000205
opened_by                  0.034118
opened_at                  0.000000
sys_created_by             0.374534
sys_created_at             0.374534
sys_updated_by             0.000000
sys_updated_at             0.000000
contact_type               0.000000
location                   0.000536
category                   0.000550
subcategory                0.000783
u_symptom                  0.232613
cmdb_ci                    0.996860
impact                     0.000000
urgency                    0.000000
priority                   0.000000
assignment_group           0.100295
assigned_to                0.194027
knowledge                  0.000000
u_priority_confirmation    0.000000
notify                     0.000000
problem_id                 0.983805
rfc                        0.993007
vendor                     0.998278
caused_by                  0.999838
closed_code                0.005038
resolved_by                0.001595
resolved_at                0.022165
closed_at                  0.000000
target_colum               0.000000
difference                 0.022165
dtype: float64

In [90]:
columns_with_nan = df_nan.columns[df_nan.isna().any()].tolist()
columns_with_nan

['caller_id',
 'opened_by',
 'sys_created_by',
 'sys_created_at',
 'location',
 'category',
 'subcategory',
 'u_symptom',
 'cmdb_ci',
 'assignment_group',
 'assigned_to',
 'problem_id',
 'rfc',
 'vendor',
 'caused_by',
 'closed_code',
 'resolved_by',
 'resolved_at',
 'difference']

In [94]:
#create empty dictionary to store stats tables for all nan columns
nan_column_stats = {}

#loop through each column in the list of columns with nan values
for col in columns_with_nan:
    #using the loc function to list the rows with Nan values in the particular column and calculate descpritive stats for all columns
    nan_column_stats[col] = df_nan.loc[df_nan[col].isna()].describe(include='all')
    pd.set_option('display.max_columns', None)

In [95]:
#display the stats for a specific column
#pd.set_option('display.max_columns', None)
problem_id_nan_stats = nan_column_stats['problem_id']
problem_id_nan_stats

,number,incident_state,active,reassignment_count,reopen_count,sys_mod_count,made_sla,caller_id,opened_by,opened_at,sys_created_by,sys_created_at,sys_updated_by,sys_updated_at,contact_type,location,category,subcategory,u_symptom,cmdb_ci,impact,urgency,priority,assignment_group,assigned_to,knowledge,u_priority_confirmation,notify,problem_id,rfc,vendor,caused_by,closed_code,resolved_by,resolved_at,closed_at,target_colum,difference
count,139417,139417,139417,139417.000000,139417.000000,139417.000000,139417,139388,134656,139417,86840,86840,139417,139417,139417,139341,139348,139315,107099,439,139417,139417,139417,125326,112181,139417,139417,139417,0,731,235,0,138714,139191,136276,139417,139417.000000,136276.000000
unique,24680,9,2,NaN,NaN,NaN,2,5230,203,NaN,179,11385,844,50184,5,222,58,254,515,47,3,3,4,78,232,2,2,2,0,152,4,0,17,213,NaN,2670,NaN,NaN
top,INC0019396,Active,True,NaN,NaN,NaN,True,Caller 1904,Opened by 17,NaN,Created by 10,4/7/2016 14:50,Updated by 908,24/3/2016 18:40,Phone,Location 204,Category 26,Subcategory 174,Symptom 491,cmdb_ci 31,2 - Medium,2 - Medium,3 - Moderate,Group 70,Resolver 17,False,False,Do Not Notify,NaN,CHG0001656,code 8s,NaN,code 6,Resolved by 15,NaN,24/3/2016 18:59,NaN,NaN
freq,58,38041,114812,NaN,NaN,NaN,130499,1420,41147,NaN,24010,56,35789,420,138219,31114,18266,35556,51367,32,133441,133195,131587,43263,10560,114637,99548,139298,NaN,17,158,NaN,85031,15350,NaN,3324,NaN,NaN
mean,NaN,NaN,NaN,1.106285,0.022221,5.059670,NaN,NaN,NaN,2016-04-12 21:41:51.960808192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-24 03:58:20.001174016,NaN,0.493763,10.858207
min,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,2016-02-29 01:16:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-02-29 09:04:00,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN,NaN,2016-03-16 15:56:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-03-25 10:28:00,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,1.000000,0.000000,3.000000,NaN,NaN,NaN,2016-04-07 16:47:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-04-15 13:01:00,NaN,0.000000,3.000000
75%,NaN,NaN,NaN,1.000000,0.000000,6.000000,NaN,NaN,NaN,2016-05-04 10:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016-05-12 12:15:00,NaN,1.000000,10.000000
max,NaN,NaN,NaN,27.000000,8.000000,129.000000,NaN,NaN,NaN,2017-02-16 14:17:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017-02-17 00:47:00,NaN,1.000000,336.000000
std,NaN,NaN,NaN,1.738522,0.208851,7.684358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.499963,27.136400

In [86]:
#This drops all columns with Nan values don't know what we would use this for
df_drop = df_nan.dropna(axis = 1).copy()
df_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141712 entries, 0 to 141711
Data columns (total 19 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   number                   141712 non-null  object
 1   incident_state           141712 non-null  object
 2   active                   141712 non-null  bool
 3   reassignment_count       141712 non-null  int64
 4   reopen_count             141712 non-null  int64
 5   sys_mod_count            141712 non-null  int64
 6   made_sla                 141712 non-null  bool
 7   opened_at                141712 non-null  datetime64[ns]
 8   sys_updated_by           141712 non-null  object
 9   sys_updated_at           141712 non-null  object
 10  contact_type             141712 non-null  object
 11  impact                   141712 non-null  object
 12  urgency                  141712 non-null  object
 13  priority                 141712 non-null  object
 14  knowledge                141712 non-null  bool
 15  u_priority_confirmation  141712 non-null  bool
 16  notify                   141712 non-null  object
 17  closed_at                141712 non-null  object
 18  target_colum             141712 non-null  int64
dtypes: bool(4), datetime64[ns](1), int64(4), object(10)
memory usage: 16.8+ MB

In [ ]:
#need to convert all strings to numbers before this code will work
df_nan.corr()['target'].sort_values()

## TO DO List

#complete *turn all ? into NANs
*find the NANS and figure out how to fill
*decide if there are any columns we can get rid of ..ex.'number'
*find documentation/info of columns
* list out the models that we will attempt to use find code examples/syntax ready
* decide if the target column is relavant enough for conclusion
* do we need fucntions? because this is our only dataset, we don't have another one to test?
#complete* list all columns with NaN values and then figure out how to fill them
* DO we need a standard scaler
* DO we need PCA to reduce the columns
* Do we need resampler